<div class="container">
    <h2 class="text-center my-5 pt-5 pb-3 border-bottom">About</h2>
    <div class="row">
        <div class="col-4 mx-auto text-center">
                <%= image_tag('IMG_0350 3.jpg', class:"w-20 h-20 p-0 text-center rounded-circle")%>
                <p class = "mt-4">1992年生まれ</p>
                <p>広島県尾道市生まれ</p>
                <p>楽しいことが大好きです</p>
                <p class="mb-4">youtube活動、プログラミング、ライティングなどの活動を主にしています。</p>
        </div>
    </div>
</div>